---
layout: default
---
<article class="author">
  <div style="display: flex; align-items: center; margin-bottom: 20px;">
    {% if page.profile_picture %}
      <img src="{{ page.profile_picture }}" alt="{{ page.name }}" style="border-radius: 50%; width: 150px; height: 150px; margin-right: 20px;">
    {% endif %}
    <div>
      <h1>{{ page.name }}</h1>
      <h2>{{ page.position }}</h2>
    </div>
  </div>

  <div class="content">
    {{ content }}
  </div>

  <h3>Posts by {{ page.name }}</h3>
  <ul>
    {% for post in site.posts %}
      {% if post.author == page.name %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</article>